<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
<div id='introduction'><h1><i>What do I want to do today?</i></h1></div>


<div><% @categories.each{ |category|         %>
  <h2><%= category.category %>          </h2>
<% } %></div>
