<!DOCTYPE html>
<html>
<head>
  <title>Flashmeet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page">
  <div data-role="content">
    <%= yield %>
  </div>
  <div data-role="footer">
    <p>Flashmeet developed @ Hack'n'Jill - NYC, June 2012</p>
  </div>
</div>

</body>
</html>
